body section{
    position: relative;
}

body section>section{
    width: 50vw;
    height: 50vh;
}

body section>section:first-child{
    position: absolute;
    right: 0;
    background-color: #278212;
}

body section>section:nth-child(2){
    position: absolute;
    background-color: #e626ed;
    bottom: 0;
    right: 0;
}
body section>section:nth-child(3){
    background-color: #e30000;
    bottom: 0;
    right: 0;
}
body section>section:nth-child(4){
    background-color: #e88b0a;
    bottom: 0;
    right: 0;
}