body section{
    position: relative;
}

body section>section{
    width: 50vw;
    height: 50vh;
}

body section>section:first-child{
    position: absolute;
    right: 0;
    background-color: #278212;
}

body section>section:nth-child(2){
    position: absolute;
    background-color: #e626ed;
    bottom: 0;
    right: 0;
}
body section>section:nth-child(3){
    background-color: #e30000;
    bottom: 0;
    right: 0;
}
body section>section:nth-child(4){
    background-color: #e88b0a;
    bottom: 0;
    right: 0;
}
body section>section>div:first-child{
    width: 15vw;
    height: 15vw;
    background-color: white;
    border-radius: 50%;
}
body section>section>div:first-child:first-child{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}